mat-accordion {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
mat-expansion-panel {
  width: 50%;
}
.post-image {
  width: 100%;
}
.post-image img {
  width: 100%;
}
